#album {
    height: 175px;
}

#default {
    height: 250px
}

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding-bottom: 75px;
}