h1 {
    color: #000;
    font-size: 48px;
    padding: 50px 0 24px;
    font-weight: 700;
}

ul {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}


.disable {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    opacity: .5
}

label:after {
    content: " *";
    color: red;
}

label, p {
    font-size: 14px; /* 14px; */
    display: block;
    font-weight: 400;
}

li {
    font-size: 14px;
    font-weight: 400;
}

main {
    max-width: 640px;
    padding: 5px 18px;
    margin: 0 auto;
}

#loginForm {
    display: block;
    margin: 0 auto;
    padding: 0;
}

#loginForm > div {
    margin: 32px 0 24px;
}

.w100 {
    width: 100%;
    font-size: 1rem;
    color: #453e3e;
    border: 3px solid #a9b3dd;
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    font-family: Helvetica, Arial, sans-serif;
}

a:link, a:visited {
    text-decoration: underline;
    color: #36418d;
}

a + a {
    margin-left: 12px;
}

a:hover, a:focus {
    text-decoration: none;
}

.buttonGroup {
    text-align: center;
    padding: 40px 20px;
}

.buttonGroup > span {
    display: inline;
}

.buttonGroup span {
    display: inline-block;
    margin-left: 5px;
    font-weight: 900;
}

button[id=submit] {
    background-color: #36418d;
    color: #fff;
    border: 1px solid #36418d;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 1.5rem;
    padding: .888rem 1.25rem;
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 16px;
}

.erreur {
    border: 2px solid #8c0005;
    background-color: #ffd9df;
    padding: 0;
}

.success {
    border: 2px solid #00dd21;
    background-color: #c6ffd4;
    padding: 0;
}

.success h2 {
    background-color: #00dd21;
    color: #fff;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 6px 5px 5px 6px;
    margin: -1px 0 0 -1px;
}

.erreur h2 {
    background-color: #8c0005;
    color: #fff;
    font-weight: 400;
    font-size: 0.875rem;
    padding: 6px 5px 5px 6px;
    margin: -1px 0 0 -1px;
}

.erreur ul {
    color: #8C0005;
    padding: 10px 5px 10px 24px;
}

.success ul {
    color: #000000;
    padding: 10px 5px 10px 24px;
}

li {
    font-size: 0.875rem;
    font-weight: 400;
}

a.buttonSecondaire:link, a.buttonSecondaire:visited {
    background-color: #dadff4;
    color: #36418d;
    border: 1px solid #dadff4;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 1.5rem;
    padding: .888rem 1.25rem;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    white-space: now;
}

button[id=submit]:hover, button[id=submit]:focus,
a.buttonSecondaire:hover, a.buttonSecondaire:focus {
    background-color: #fff;
    color: #36418d;
    border: 1px solid #36418d;
    text-decoration: none;
    cursor: pointer;
}

#right {
    float: right;
}

input[type=checkbox] {
    float: left;
    margin: 7px 0 0 0;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    form > div {
        margin: 24px 0 16px;
    }

    .buttonGroup > span {
        display: block;
        height: 48px;
    }

    button[id=submit] {
        margin-right: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.input-box {
    position: relative;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
}

.input-box .button:active {
    transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
    .input-box {
        height: 66px;
        margin: 0 8px;
    }

    .input-box i {
        left: 12px;
        font-size: 25px;
    }

    .input-box input {
        padding: 0 112px 0 50px;
    }

    .input-box .button {
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }
}

#nip {
    -webkit-appearance: none;
    margin: 0;
}

/* Add a new class for the column separator */
.column-separator {
    border-right: 1px solid #ccc; /* Change the color and style as needed */
    height: 100%;
}

/* Add some padding to the separator to improve spacing */
.column-separator-padding {
    padding-right: 20px; /* Adjust as needed */
}


#title {
    display: flex;
    padding: 16px;
    align-items: center;
    text-align: left;
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0;
    text-transform: none;
    color: #000000;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

#reserve {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #4285f4;
    padding-top: 6px;
    height: 1em;
    overflow: hidden;
    user-select: none;
    flex-shrink: 0;
    opacity: 1;
    font-size: 1.2rem;
    transition: font-size 0.2s, opacity 0.2s;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    transition-delay: 0.1s;
}

