legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

:root {
    --white: #FFF;
    --text: #453E3E;
    --bg: #FFF;
    --bg-light: #F2F2F2;
    --link: #36418D;
    --link-hover: #36418D;
    --header-bg: #000;
    --header-bg-desktop: rgba(255, 255, 255, 0.8);
    --border-color: transparent;
    --btn-primary-bg: #36418D;
    --btn-primary-hover-bg: #FFF;
    --btn-primary-focus-bg: #FFF;
    --btn-primary-disabled-bg: #DADFF4;
    --btn-primary-border: #36418D;
    --btn-primary-hover-border: #A9B3DD;
    --btn-primary-focus-border: #A9B3DD;
    --btn-primary-disabled-border: #DADFF4;
    --btn-primary-icon: #DADFF4;
    --btn-primary-hover-icon: #6B78BB;
    --btn-primary-disabled-icon: #6B78BB;
    --btn-primary-text: #FFF;
    --btn-primary-hover-text: #36418D;
    --btn-primary-disabled-text: #FFF;
    --btn-primary-outline: #A9B3DD;
    --btn-primary-dark-bg: #FFF;
    --btn-primary-dark-hover-bg: #36418D;
    --btn-primary-dark-disabled-bg: #FFF;
    --btn-primary-dark-border: #FFF;
    --btn-primary-dark-hover-border: #A9B3DD;
    --btn-primary-dark-focus-border: #FFF;
    --btn-primary-dark-disabled-border: #FFF;
    --btn-primary-dark-icon: #6B78BB;
    --btn-primary-dark-hover-icon: #DADFF4;
    --btn-primary-dark-disable-icon: #6B78BB;
    --btn-primary-dark-text: #36418D;
    --btn-primary-dark-hover-text: #FFF;
    --btn-primary-dark-outline: #FFF;
    --btn-secondary-bg: #DADFF4;
    --btn-secondary-hover-bg: #FFF;
    --btn-secondary-focus-bg: #FFF;
    --btn-secondary-disabled-bg: #DADFF4;
    --btn-secondary-border: #DADFF4;
    --btn-secondary-hover-border: #A9B3DD;
    --btn-secondary-focus-border: #A9B3DD;
    --btn-secondary-disabled-border: #DADFF4;
    --btn-secondary-icon: #6B78BB;
    --btn-secondary-disabled-icon: #6B78BB;
    --btn-secondary-text: #36418D;
    --btn-secondary-disabled-text: #36418D;
    --btn-secondary-outline: #A9B3DD;
    --btn-tertiary-text: #36418D;
    --outline-color: rgba(122, 170, 211, 0.7);
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --blue-5: #D5EAF8;
    --blue-15: #AED0EB;
    --blue-30: #7AAAD3;
    --blue-50: #003F8C;
    --blue-70: #2A4D69;
    --indigo-5: #DADFF4;
    --indigo-15: #A9B3DD;
    --indigo-30: #6B78BB;
    --indigo-50: #36418D;
    --indigo-70: #1A205F;
    --red-5: #FFE4E4;
    --red-15: #FFC2C2;
    --red-30: #BA000F;
    --red-50: #B65959;
    --red-60: #DD4A5C;
    --red-70: #773434;
    --red-80: #8C0005;
    --orange-5: #FFE8DF;
    --orange-15: #FECEB5;
    --orange-30: #F2AC7E;
    --orange-50: #B47857;
    --orange-70: #764C39;
    --yellow-5: #FFFAB5;
    --green-100: #334733;
    --gris-0: #F2F2F2;
    --gris-5: #E7E5E5;
    --gris-20: #C7C0C0;
    --gris-60: #706767;
    --gris-80: #453E3E;
    --gris-100: #191717;
    --gris-300: #D2D6DC;
    --white: #FFF;
    --black: #000;
    --breakpoint-sm: 0;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1440px;
    --breakpoint-xxl: 1920px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

main {
    max-width: 640px;
    padding: 5px 18px;
    margin: 0 auto;
}

input[type=password],
input[type=password],
input[type=text],
input[type=number],
input[type=date],
select,
textarea,
input,
#trackAdd,
#actorAdd,
input[type=file]
input[type=email] {
    --border-color: var(--indigo-15);
    --text-color: var(--gris-80);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-color);
    margin: 0;
    padding: 0.5rem 0.75rem;
}

label:after {
    content: " *";
    color: red;
}


#select {
    --border-color: var(--indigo-15);
    --text-color: var(--gris-80);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    color: var(--text-color);
    margin: 0;
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

li {
    font-size: 1rem;
    border-radius: 0.25rem;
}

textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}

#space {
    margin-top: 1em;
    margin-bottom: 1em;
    --text-color: var(--gris-60);
    border: 0;
    color: var(--text-color);
}

.button {
    font-size: .875rem;
    line-height: 1rem;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 32px;
    display: inline-flex;
    font-size: 1.25rem;
    justify-content: space-between;
    line-height: 1.5rem;
    padding: 8px 1rem;
    text-decoration: none;
    transition: background-color .3s ease-out, border-color .3s ease-out, outline-color .3s ease-out, color .3s ease-out, outline-width .1s ease-out;
    font-weight: 400;
}

.submit {
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);
    color: var(--btn-secondary-icon);
    outline-color: var(--btn-secondary-outline);
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 0;
    font-family: gt-walsheim-bold,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

